<p>
  team-list works!
</p>

<h2>Team list</h2>


<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Wins</th>
              <th>Losses</th>
              <th>Games behind</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of teams">
              <team-row [team]="team" ></team-row>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <p>
    <a routerLink="/players">Players</a>
  </p>
</div>